/* Soluzione qui */

/* TABLET */
@media screen and (min-width: 768px) {
    #topbar {
        justify-content: start;
    }

    main {
        padding: 40px;
    }

    .recipe-name {
        font-size: 2rem;
    }

    .recipe-origin {
        display: inline;
    }

    .quick-notes ul {
        display: flex;
        flex-wrap: wrap;
    }

    .quick-notes ul li {
        width: calc(100% / 3);
    }

    .social-networks .btn {
        width: 20%;
        /* flex-grow: 1; Fa sì che ciascun bottone si allarghi in maniera uguale*/
    }

    .ads {
        display: block;
    }

    .presentation img {
        float: inline-start;
        margin-right: 20px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    .recipe-name {
        font-size: 2.5rem;
    }

    .recipe-card {
        display: flex;
    }

    .recipe-video {
        width: 70%;
        height: auto;
    }

    .recipe-info {
        width: 30%;
    }

    .quick-notes ul {
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .quick-notes ul li {
        width: auto;
    }

    .social-networks .btn .label {
        display: inline;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer address {
        text-align: start;
    }

    footer nav {
        display: flex;
        align-items: center;
    }
}